button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(209, 193, 164);
}

.calculator{
    background-color: #111111;
    

    min-height: 80%;
    width: 370px;

    border: 2px solid;
    border-radius: 22px;

    padding: 15px;

    display: flex;
    flex-direction: column;
}

.display{
    background-color: #BDF0A6;
    color: white;
    height: 100px;

    /* border: 2px solid; */
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: black;
    
}

.buttons{
    flex: 1;



    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    flex: 1;

    display: flex;
    gap: 10px;

}

button{
    flex: 1;
    background-color: #333333;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 10px;

    font-size: 25px;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: #444444;
}

.a{
    border: none;
    background-color: transparent;
    margin-left: 4px;
}

.display1{
    height: 50px;
    font-size: 25px;
    max-width: 100%;

}
.display2{
    height: 50px;
    max-width: 100%;
    font-size: 45px;
    
}

.operation{
    background-color: #ED802E;
}
.operation:hover{
    background-color: #ff6f00;
}

#equal{
    background-color: #ED802E;
}
#equal:hover{
    background-color: #ff6f00;
}

#clear,#delete{
    background-color: rgb(78, 78, 78);
}
#clear:hover,#delete:hover{
    background-color: rgb(102, 102, 102);
}